@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');

*{
  margin: 0%;
  padding: 0%;
}

body{
  background-image: url('pag1.png');
  background-size:100vw 100vh;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

header{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
}

main{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
  margin-top: 10%;
}
footer{
  text-align: center;
  margin-top: 8%;
  line-height: 2;
}

.vacio{
  width: 100%;
  height: 700px;
}

.contenedor{
  width: 100%;
  height: 658px;
  background: #E4D6A7;
  position: absolute;
}

.lock{
  position: absolute;
  top:49.5%;
  left:71.5%;
  width:2.5%;
  height:4.5%;
}

.pregunta{
  font-size: 4.5em;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: #BA0000;
  display:block;
  position: relative;
}

.spoileralert{
  font-size: 1.9em;
  font-family: 'Gruppo';
  color: #BA0000;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.descifra{
  font-size: 2em;
  font-family: 'Gruppo';
  color: #BA0000;
}

.pregunta1{
  color: #353238;
  font-size: 1.7em;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-right: 4%;
}

.boxcifrado{
  width: 160px;
  height: 40px;
  font-size: 0.9em;
  text-align: center;
  border:0;
  outline: none;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
  color: #BA0000;
  font-weight: bold;
}

.box{
  width: 160px;
  height: 40px;
  margin-right: 3px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 5px;
  color: #BA0000;
  font-weight: bold;
}

.boton{
  width: 100px;
  height: 41px;
  border-radius: 5px;
  margin-right: 3px;
  margin-left: 3px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  text-align: center;
  outline: none;
  border:0;
  color: #BA0000;
  background-color: white;
  }

.boton:hover{
  background-color: #BA0000;
  color:white;
  border: 0;
}

.boxoffset{
  width: 45px;
  height: 40px;
  text-align: center;
  border:0;
  outline: none;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  color: #BA0000;
  font-weight: bold;
  margin-top: 5px
}

.resultado{
  width: 160px;
  height: 37px;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9em;
  text-align: center;
  border:0;
  border-radius: 5px;
  color: #BA0000;
  outline: none;
}

.desencriptar{
  font-size: 1.8em;
  color: #751412;
  font-family: 'Gruppo';
  color: #BA0000;
  font-weight: bold;
}
